SQLALCHEMY_DATABASE_URI=psql://username:password@localhost:5432/mydatabase

DEBUG=True
LOG_FILE=app.log # If not set, logs will be printed to the console

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
